---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p>Hi there. I work at Zenika as a Product Manager.</p>

<p><strong>What do Product Managers do?</strong> They drive the vision, strategy, design, and execution of a product.</p>

<p>This discipline is at the crossroad of Tech (and agile delivery), UX (and user research) and Business (and market strategy).</p>
<p>While one can often quickly comprehend the basic responsibilities of the role, mastering each of these dimensions is truly one's life labor or love.</p>

<hr>

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
